.app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.card {
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid hwb(6 42% 29%);
  border-radius: 50px;
  box-shadow: 1px 2px 3px 4px rgba(181, 115, 108, 0.4);
  background-color: rgba(255, 159, 36, 0.9);
}

.city-input {
  color: rgb(181, 115, 108);
  border-color: #b5736c;
  box-shadow: rgb(181, 115, 108);
}

.search-button {
  background-color: #b5736c;
  border-style: hidden;
  color: white;
}
h1 {
  color: white;
  font-size: 38px;
  font-weight: 300;
  line-height: 29px;
  line-height: 48px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 10px;
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: top;
}
.weather-temperature strong {
  color: white;
  display: inline;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  vertical-align: top;
}

.weather-temperature small {
  color: #b5736c;
  display: inline;
  line-height: 22px;
  font-size: 16px;
  padding-left: 2px;
  vertical-align: text-top;
}
.information {
  margin-top: 20px;
  color: #ffefbc;
  font-size: 13px;
}

.info {
  text-align: right;
}
.celsius {
  text-decoration: none;
  color: #b5736c;
}
.fahrenheit {
  text-decoration: none;
  color: #b5736c;
}

.weather-temperature .active {
  color: white;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast {
  margin-top: 30px;
  text-align: center;
}
.icon-forecast {
  height: 60px;
  width: 60px;
}

.weather-forecast-day {
  color: white;
  opacity: 0.8;
  padding-top: 20px;
}

.weather-forecast-temperature-min {
  font-size: 13px;
  color: #b5736c;
}

.weather-forecast-temperature-max {
  font-size: 13px;
  color: white;
}
.link-to-code {
  color: rgb(181, 115, 108);
  font-size: 12px;
  text-align: center;
}
.name {
  color: rgb(181, 115, 108);
}
